*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(70, 112, 191);
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: black;
    color: white;
}
.inputform{
    padding: 50px;
}
.ititle{
    height: 40px;
    width: 300px;
    margin: 30px;
    background-color: white;
    border-radius: 30px;
    padding-left: 20px;
    border: none;
    box-shadow: 5px 5px 10px;
    
}
.idescription{
    height: 40px;
    width: 600px;
    margin: 30px;
    background-color: white;
    border-radius: 30px;
    padding-left: 20px;
    border: none;
    box-shadow: 5px 5px 10px;
}

.abtn{
    padding: 10px;
    background-color:maroon;
    color: white;
   width: 60px;
}
.ubtn{
    padding: 10px;
    background-color:darkgreen;
    color: white;
   width: 80px;
}

.filter{
    display: flex;
    align-items: center;
    justify-content:end;
    padding-right: 200px;
    font-size: 30px;
    padding: 50px;
}
#sfilter{
    border: solid;
    background-color: white;
    height: 30px;

}
.cards{
    display:grid;
   grid-template-columns: 1fr 1fr 1fr;
  
  
}
.card{
    background-color: white;
    border: 1px solid;
    width: 400px;
    margin: 30px;
    
    
}
h2{
    background-color: white;
    padding: 10px;
}
.des{
    padding: 10px;
    text-align: center;
    background-color: white;
}

.btn{
    background-color: white;
    text-align: end;
    padding: 10px;
}
.ebtn{
    background-color: blueviolet;
    height: 30px;
    width: 50px;
    margin: 10px;
}
.dbtn{
    background-color: red;
    height: 30px;
    width: 50px;
    margin: 5px;
}
.dd{
    background-color: white;
    height: 30px;
    margin-top: 30px;
    margin-left: 20px;
   
}
h1{
    background-color: black;
}
.card:hover{
    box-shadow: 10px 10px 10px;
}
@media screen and (max-width:1400px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (max-width:900px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr ;
    }
}